@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
body {
  margin: 0;
  color: #fff;
}

.l-header {
  background-color: #222;
  height: 20vh;
  font-family: "Fredericka the Great", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-header p {
  font-size: 6rem;
  color: #54d7f5;
  display: block;
  letter-spacing: 0.25rem;
}

.l-content {
  position: relative;
  overflow: hidden;
  background-color: #333;
  height: 60vh;
  background-image: linear-gradient(#ffdd00, #e29600 35%);
}
.l-content .sea {
  position: absolute;
  height: 100%;
  perspective: 800px;
  perspective-origin: center top;
  left: -60%;
  right: -60%;
}
.l-content .sea .wave {
  height: 120px;
  width: 100%;
  background-image: linear-gradient(transparent 50%, #00738d 50%, #00738d 50%);
  position: absolute;
  bottom: 0%;
}
.l-content .sea .wave:nth-child(1) {
  filter: brightness(100%) blur(0px);
  z-index: 20;
  transform: translateZ(0px);
  animation: wave 5s infinite;
  animation-delay: 0.6534303093s;
}
.l-content .sea .wave:nth-child(2) {
  filter: brightness(95%) blur(0.5px);
  z-index: 19;
  transform: translateZ(-95px);
  animation: wave 6s infinite;
  animation-delay: 0.3656239044s;
}
.l-content .sea .wave:nth-child(3) {
  filter: brightness(90%) blur(1px);
  z-index: 18;
  transform: translateZ(-190px);
  animation: wave 7s infinite;
  animation-delay: 0.1145350571s;
}
.l-content .sea .wave:nth-child(4) {
  filter: brightness(85%) blur(1.5px);
  z-index: 17;
  transform: translateZ(-285px);
  animation: wave 8s infinite;
  animation-delay: 0.0108965783s;
}
.l-content .sea .wave:nth-child(5) {
  filter: brightness(80%) blur(2px);
  z-index: 16;
  transform: translateZ(-380px);
  animation: wave 9s infinite;
  animation-delay: 0.6717630572s;
}
.l-content .sea .wave:nth-child(6) {
  filter: brightness(75%) blur(2.5px);
  z-index: 15;
  transform: translateZ(-475px);
  animation: wave 10s infinite;
  animation-delay: 0.6242926763s;
}
.l-content .sea .wave:nth-child(7) {
  filter: brightness(70%) blur(3px);
  z-index: 14;
  transform: translateZ(-570px);
  animation: wave 11s infinite;
  animation-delay: 0.2398182893s;
}
.l-content .sea .wave:nth-child(8) {
  filter: brightness(65%) blur(3.5px);
  z-index: 13;
  transform: translateZ(-665px);
  animation: wave 12s infinite;
  animation-delay: 0.3643550098s;
}
.l-content .sea .wave:nth-child(9) {
  filter: brightness(60%) blur(4px);
  z-index: 12;
  transform: translateZ(-760px);
  animation: wave 13s infinite;
  animation-delay: 0.0002228307s;
}
.l-content .sea .wave:nth-child(10) {
  filter: brightness(55%) blur(4.5px);
  z-index: 11;
  transform: translateZ(-855px);
  animation: wave 14s infinite;
  animation-delay: 0.2080880074s;
}
.l-content .sea .wave::before {
  content: "";
  display: block;
  transform: translateY(0px);
  height: 25px;
  background-image: radial-gradient(#00738d 29%, transparent 30%);
  background-position: 80px 78px;
  background-size: 160px 100px;
}
.l-content .sea .wave::after {
  content: "";
  display: block;
  transform: translateY(0px);
  height: 51px;
  background-image: radial-gradient(transparent 40%, #00738d 42%);
  background-position: 0 -52px;
  background-size: 160px 100px;
}
.l-content .explosion-render {
  position: absolute;
  height: 100%;
  width: 100%;
  perspective: 800px;
  perspective-origin: center top;
  cursor: none;
  z-index: 25;
}
.l-content .explosion-render .layer-explosion {
  position: absolute;
  height: 100%;
  inset: 0;
  left: -60%;
  right: -60%;
}
.l-content .explosion-render .layer-explosion:nth-child(1) {
  z-index: 25;
  transform: translateZ(0px);
}
.l-content .explosion-render .layer-explosion:nth-child(2) {
  z-index: 24;
  transform: translateZ(-95px);
}
.l-content .explosion-render .layer-explosion:nth-child(3) {
  z-index: 23;
  transform: translateZ(-190px);
}
.l-content .explosion-render .layer-explosion:nth-child(4) {
  z-index: 22;
  transform: translateZ(-285px);
}
.l-content .explosion-render .layer-explosion:nth-child(5) {
  z-index: 21;
  transform: translateZ(-380px);
}
.l-content .explosion-render .layer-explosion:nth-child(6) {
  z-index: 20;
  transform: translateZ(-475px);
}
.l-content .explosion-render .layer-explosion:nth-child(7) {
  z-index: 19;
  transform: translateZ(-570px);
}
.l-content .explosion-render .layer-explosion:nth-child(8) {
  z-index: 18;
  transform: translateZ(-665px);
}
.l-content .explosion-render .layer-explosion:nth-child(9) {
  z-index: 17;
  transform: translateZ(-760px);
}
.l-content .explosion-render .layer-explosion:nth-child(10) {
  z-index: 16;
  transform: translateZ(-855px);
}
.l-content .render {
  position: absolute;
  height: 100%;
  width: 100%;
  perspective: 800px;
  perspective-origin: center top;
  cursor: none;
}
.l-content .render .layer {
  position: absolute;
  height: 100%;
  inset: 0;
  left: -60%;
  right: -60%;
}
.l-content .render .layer:nth-child(1) {
  z-index: 19;
  transform: translateZ(0px);
  filter: brightness(100%) blur(0px);
}
.l-content .render .layer:nth-child(2) {
  z-index: 18;
  transform: translateZ(-95px);
  filter: brightness(95%) blur(0.5px);
}
.l-content .render .layer:nth-child(3) {
  z-index: 17;
  transform: translateZ(-190px);
  filter: brightness(90%) blur(1px);
}
.l-content .render .layer:nth-child(4) {
  z-index: 16;
  transform: translateZ(-285px);
  filter: brightness(85%) blur(1.5px);
}
.l-content .render .layer:nth-child(5) {
  z-index: 15;
  transform: translateZ(-380px);
  filter: brightness(80%) blur(2px);
}
.l-content .render .layer:nth-child(6) {
  z-index: 14;
  transform: translateZ(-475px);
  filter: brightness(75%) blur(2.5px);
}
.l-content .render .layer:nth-child(7) {
  z-index: 13;
  transform: translateZ(-570px);
  filter: brightness(70%) blur(3px);
}
.l-content .render .layer:nth-child(8) {
  z-index: 12;
  transform: translateZ(-665px);
  filter: brightness(65%) blur(3.5px);
}
.l-content .render .layer:nth-child(9) {
  z-index: 11;
  transform: translateZ(-760px);
  filter: brightness(60%) blur(4px);
}
.l-content .render .layer:nth-child(10) {
  z-index: 10;
  transform: translateZ(-855px);
  filter: brightness(55%) blur(4.5px);
}
.l-content .render .scope {
  width: 200px;
  height: 200px;
  border: 2px solid rgba(68, 255, 68, 0.5333333333);
  border-radius: 100%;
  color: rgba(68, 255, 68, 0.5333333333);
  font-size: 40px;
  position: absolute;
  overflow: hidden;
  z-index: 100;
  align-self: unset;
  bottom: 0;
}
.l-content .render .scope .mid {
  width: 200px;
  height: 200px;
  position: absolute;
  text-align: center;
  line-height: 200px;
}
.l-content .render .scope .h {
  width: 400px;
  height: 200px;
  position: absolute;
  line-height: 190px;
  letter-spacing: 173px;
}
.l-content .render .scope .v {
  width: 200px;
  height: 400px;
  position: absolute;
  line-height: 210px;
  letter-spacing: 173px;
  writing-mode: vertical-lr;
}

.l-footer {
  background-color: #444;
  height: 20vh;
  text-align: center;
  padding: 4rem;
  box-sizing: border-box;
  font-family: "DotGothic16", sans-serif;
  font-size: 2em;
}

.over {
  background-color: #838383;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 25rem;
  font-size: 10rem;
  font-family: "DotGothic16", sans-serif;
  display: none;
}
.over button {
  display: block;
  margin: auto;
  font-size: 2rem;
  padding: 0.5rem 4rem;
  font-weight: 600;
}

.d_none {
  display: block;
}

@keyframes wave {
  0% {
    left: 0%;
  }
  50% {
    left: -2%;
  }
  100% {
    left: 0%;
  }
}/*# sourceMappingURL=style.css.map */