@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

$waveColor: #00738d;
$scopeColor: #4F48;




body {
    margin: 0;
    color: #fff;
}

.l-header {
    background-color: #222;
    height: 20vh;
    font-family: 'Fredericka the Great', serif;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 6rem;
        color: #54d7f5;   
        display: block;  
        letter-spacing: .25rem;   
    }
}

.l-content {
    position: relative;
    overflow: hidden;
    background-color: #333;
    height: 60vh;
    background-image: linear-gradient(#ffdd00, #e29600 35%);

    .sea {
        position: absolute;
        height: 100%; 
        perspective: 800px;        
        perspective-origin: center top;
        left: -60%;
        right: -60%;
                        
        .wave {
            height: 120px;
            width: 100%;
            background-image: linear-gradient(transparent 50%, $waveColor 50%, $waveColor 50%);
            position: absolute;
            bottom: 0%;

            @for $i from 0 to 10 {
                &:nth-child(#{$i+1}) {
                    filter: brightness(100% -$i *5) blur($i * .25px);
                    z-index: 20 - $i;
                    transform: translateZ(-95px * $i);
                    animation: wave 5s + $i * 1s infinite;
                    animation-delay: random() * 1s;
                }
            }    
    
            &::before {
                content: "";
                display: block;
                transform: translateY(-0px);
                height: 25px;
                background-image: radial-gradient($waveColor 29%, transparent 30%);
                background-position: 80px 78px;
                background-size: 160px 100px;
            }
    
            &::after {
                content: "";
                display: block;
                transform: translateY(0px);
                height: 51px;
                background-image: radial-gradient(transparent 40%, $waveColor 42%);
                background-position: 0 -52px;
                background-size: 160px 100px;
            }
        }
    }
      
    .explosion-render {
        position: absolute;
        height: 100%;
        width: 100%;
        perspective: 800px;
        perspective-origin: center top;
        cursor: none;
        // z-index: 25; 

        .layer-explosion {
            @for $i from 0 to 10 {
                &:nth-child(#{$i+1}) {
                    // z-index: 25 - $i;
                    transform: translateZ(-95px * $i);
                }
            }

            position: absolute;
            height: 100%;
            inset: 0;
            left: -60%;
            right: -60%;
        }
    }

    .render {
        position: absolute;
        height: 100%;
        width: 100%;
        perspective: 800px;
        perspective-origin: center top;
        cursor: none;
        
        .layer {
            @for $i from 0 to 10 {
                &:nth-child(#{$i+1}) {
                    // z-index: 19 - $i; 
                    transform: translateZ(-95px * $i);
                    filter: brightness(100% - $i * 5) blur($i * .25px);
                }
            }
            position: absolute;
            height: 100%;
            inset: 0;
            left: -60%;
            right: -60%;
            // border: 1px solid gold;
        }
                
        .scope {
            width: 200px;
            height: 200px;
            border: 2px solid $scopeColor;
            border-radius: 100%;
            color: $scopeColor;
            font-size: 40px;
            position: absolute;
            overflow: hidden;
            z-index: 100;
            align-self: unset;
            bottom: 0;

            .mid {
                width: 200px;
                height: 200px;
                position: absolute;

                text-align: center;
                line-height: 200px;
            }

            .h {
                width: 400px;
                height: 200px;
                position: absolute;
                line-height: 190px;
                letter-spacing: 173px;
            }

            .v {
                width: 200px;
                height: 400px;
                position: absolute;
                line-height: 210px;
                letter-spacing: 173px;
                writing-mode: vertical-lr;
            }
        }
        
    }
}

.l-footer {
    background-color: #444;
    height: 20vh;
    text-align: center;
    padding: 4rem;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;
    font-size: 2em;
}

.over {
    background-color: #838383;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 25rem;
    font-size: 10rem;
    font-family: 'DotGothic16', sans-serif;
    display: none;

    button {
        display: block;
        margin: auto;
        font-size: 2rem;
        padding: .5rem 4rem;
        font-weight: 600;
    }
}
.d_none {
    display: block;
}
@keyframes wave {
    0% {
        left: 0%;
    }
    50% {
        left: -2%;
    }    
    100% {
        left: 0%;
    }
}